
<style>
  *{
    margin: 0; padding: 0; font-family: 'Aleo'; font-size: 20px;
  }

  section{
    width: 100%;
    height: 800px;
    float: left
	font-family: 'Aleo';
	font-size: 22px;
  }

  /* The navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  font-family: 'Aleo';
  font-size: 15px;
}

/* Links inside the navbar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Aleo';
  font-size: 15px;
}

/* Change background on mouse-over */
.topnav a:hover {
  background: #ddd;
  color: black;
  font-family: 'Aleo';
  font-size: 15px;
}

/* Main content */
.content {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}





  #home{
		height: 600px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		background-image: url('../images/designbuild.jpg');
		background-size: cover;
		font-family: 'Aleo';
		font-size: 22px;
  }

  #name{
	  color: black;
	  font-size: 50px;
  }
  #about{
    background: #561B1F;
  }
  #resume{
    background: #95A7B6;
  }
  #contact{
    background: #22403D;
  }

</style>
