<style>

		/* Style the top navigation bar */
		.topnav {
		  overflow: hidden;
		  background-color: #6F4234;
		  font-family: 'Dancing Script';
		}

		/* Style the topnav links */
		.topnav a {
		  float: left;
		  display: block;
		  color: #F5C396;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		  font-size: 30;
		}

		/* Change color on hover */
		.topnav a:hover {
		  background-color: #F5C396;
		  color: #6F4234;
		}

		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		h1 {
			font-size: 0;
		}

		h2 {
			font-family: 'Dancing Script';
			color: #F5C396;
			text-align: center;
		}

		body {
			background-color: #5A352A;
			color: #FFFFFF;
		}
		nav ul {
			list-style-type: none;
			color: F5C396;
			font-family: 'Dancing Script';
			font-size: 20

		}
		nav ul li {
			display: inline;
			margin-left: 30px;
		}

	</style>
